html {
  font-size: $font-size-base;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto !important;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}