.layout-master {
  &__main {
    margin-top: $navbarHeight;
  }

  &__sidebar {
    position: fixed;
    width: $sidebarWidth;
    top: 0;
    z-index: 10000;

    @include media-breakpoint-down(lg) {
      position: inherit;
      width: 100%;
    }
  }

  &__content {
    margin-left: $sidebarWidth;
    padding: $spacer;

    @include media-breakpoint-down(lg) {
      margin-left: inherit;
    }
  }
}