.logo {
  $className: 'logo';

  display: block;
  text-align: center;

  &:hover {
    text-decoration: none;

  }

  &__image {
    width: 50px;
    height: 50px;
  }

  &__text {
    font-family: $ralewayFont;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
    color: $white;
    text-transform: initial;
    margin-top: 1rem;
  }

  &--secondary {
    .#{$className}__image,
    .#{$className}__text {
      display: inline-block;
      vertical-align: middle;
    }

    .#{$className}__text {
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}