.postsPage {
  &__filterPanel {
    margin-bottom: 2rem;
  }

  &__filterItem {
    margin: 0;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__categoryTitle {
    a {
      font-size: 1.5rem;
      color: $gray-600;
    }
  }

  &__tags {
    .badge {
      &:hover {
        color: $white;
      }
    }
  }

  &__comments {
    margin-top: 1rem;
  }

  &__image {
    text-align: center;
    margin-bottom: 1rem;

    img {
      max-height: 1024px;
    }
  }

  &__deleteImage {
    margin: 1rem 0;
    display: block;
  }

}