.smallBlogPost {

  &__content {
    border: 1px solid #e6e9ed;
    padding: rem(25);
  }

  &__separator {
    margin: rem(10) 0;
  }

  &__body {
    margin-bottom: rem(25);
  }

  &__statsBox {
    margin-bottom: rem(15);
  }
}