.categoryItem {
  margin: 0.5rem 0;

  &__controls {
    margin-top: 1rem;
  }

  .card-title {
    margin: 0;
  }

  &__deleteForm {
    display: inline-block;

    .btn {
      cursor: pointer;
    }
  }
}