.categoryItem {
  margin: 0.5rem 0;

  &__controls {
    margin-top: 1rem;

    & > * {
      margin: 0.15rem 0;
    }
  }

  .card-title {
    margin: 0;
  }

  &__deleteForm {
    display: inline-block;

    .btn {
      cursor: pointer;
    }
  }

  &__titleWrap {
    @include media-breakpoint-up(sm) {
      padding-right: 3rem;
    }
  }

  .card-body {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }
}