.blogPage {
  &__content,
  &__sidebar {
    padding-top: rem(100);
  }

  &__empty {
    text-align: center;
    font-size: rem(20);
  }

  &__pagination {
    margin-bottom: rem(100);

    .pagination {
      justify-content: center;
    }
  }
}