.homePage {
  &__emptyQuery {
    text-align: center;
    font-size: 2rem;
  }

  &__pagination {
    margin-top: 2rem;

    .pagination {
      justify-content: center;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    h1 {
      display: inline-block;
    }
  }

  &__content {
    .CodeMirror {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .editor-toolbar {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__chartWrap {
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__mobileDashboardContent {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}