.indexPage {
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__postsCarousel {
    .owl-dots {
      text-align: center;
      margin-top: 1rem;

      .owl-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 2.5px;
        border: 1px solid $primary;

        &.active {
          background-color: $primary;
        }
      }
    }
  }

  &__viewMorePosts {
    margin-top: 2rem;
    text-align: center;
  }

  &__section {
    padding: 2rem 0;
  }

  &__footer {
    text-align: center;
    padding: 2rem 0;
    background-color: $dark;
    color: #fff;
  }
}